body{
			background-image: url(rizz.jpg);
			background-size: 1000px;
			animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
		} 
		@keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
		}

		.container{
			padding: 10px;
			background-color: #fae0e4;
			box-shadow: 10px 10px 5px 0px rgba(249,94,123,0.75);
			-webkit-box-shadow: 10px 10px 5px 0px rgba(249,94,123,0.75);
			-moz-box-shadow: 10px 10px 5px 0px rgba(249,94,123,0.75);;
			border: thick solid;
			border-color: white;
		}
	
		

		#main{
			display: flex;
		}